.home-container {
  background-image: url('images/iteration-1-images/home-banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
  width: 100%;
}


.home-container teknoYemek {
  background-image: url('images/iteration-1-images/logo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 363px;
}

.home-container p {
  font-size: 3.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 10px;
  line-height: 1.2;
}

.aciktim-button {
  background-color: var(--brand-yellow); /* Marka sarısı */
  color: var(--dark-grey);
  border: none;
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.aciktim-button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {

  .banner {
    height: device-height;
    padding: 50px 50px;
  }

  .logo {
    width: 300px;
    height: auto;
  }

  .firsatiKacirma {
    font-size: 0px;
  }

  .kodAciktir {
    line-height: 1.2;
    font-size: 60px;
  }
  .aciktim-button {
    padding: 15px 30px;
    font-size: 1rem;
  }
}