
.home-container {
  background-image: url('images/iteration-1-images/home-banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
  width: 100%;
}


.home-container teknoYemek {
  background-image: url('images/iteration-1-images/logo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 363px;
}

.home-container p {
  font-size: 3.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 10px;
  line-height: 1.2;
}
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 20px;
  margin-top: 40px;
  
}
.pizza-kart {
  border-radius: 20px;
  padding: 40px;
  color: white;
  position: relative;
  overflow: hidden;
  background-image: url('assets/iteration-2/cta/kart-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.sagdaki-kartlar {
  display: grid;
  gap: 20px;
}

.aciktim-button {
  background-color:#FDC913; 
  color: #292929;           
  border: none;
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.kategori-menu {
  background-color: white;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 20px;

}

.kategori-item {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding: 30px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

}
.kategori-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  padding: 0 20px;

}
.kategori-listesi {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;

}

.aciktim-button:hover {
  transform: scale(1.05);
}
.mobile-show {
    display: none;
 }
  
 .mobile-none {
    display: block;
  }
  .urunler {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
   background-color: #FAF7F2;
}
.urun-kart {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color:white;
}

@media (max-width: 768px) {

  .banner {
    height: device-height;
    padding: 50px 50px;
  }

  .logo {
    width: 300px;
    height: auto;
  }

  .firsatiKacirma {
    font-size: 0px;
  }

  .kodAciktir {
    line-height: 1.2;
    font-size: 60px;
  }
  .aciktim-button {
    padding: 15px 30px;
    font-size: 1rem;
  }
  .mobile-none {
    display: none;
  }
   .mobile-show {
    display: block;
  }
  .kategori-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    padding: 0;
    gap : 0;
  }

  .kategori-item {
    font-size: 14px;
    padding: 10px;
  }
    
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
  .pizza-kart {
    padding: 30px;
  }

  .sagdaki-kartlar {
    grid-template-columns: 1fr;
  }
  .burger-kart img {
  width: 100%;
  max-width: 200px;
}
  .kategori-listesi {
     display: grid;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    grid-template-columns: repeat(2, 1fr);
  }
    .urunler {
    flex-direction: column;
    padding: 20px;
  }
}