/* Google Fonts Import: Barlow ve Satisfy */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Satisfy&family=Roboto+Condensed:wght@700&display=swap');

:root {
  --brand-red: #CE2829;
  --brand-yellow: #FDC913;
  --dark-grey: #292929;
  --light-grey: #FAF7F2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif; /* Ana font Barlow */
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
}
